<div class="row justify-content-center mt-5">
    <div class="col-md-4">
      <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
        <div class="form-group">
          <label>Name</label>
          <input class="form-control" type="text" formControlName="name" required>
        </div>
        <div class="form-group">
          <label>Price</label>
          <input class="form-control" type="text" formControlName="price" required>
        </div>
        <div class="form-group">
          <label>Description</label>
          <input class="form-control" type="text" formControlName="description" required>
        </div>
        <div class="form-group">
          <label>Stock</label>
          <input class="form-control" type="number" formControlName="stock" required>
        </div>
        <div class="form-group">
          <label> Category</label>
              <select class="form-control" formControlName="category" >
                <option [defaultSelected]=true [value]="selectedCategory" >{{selectedCategory}}</option>
                <option *ngFor="let item of categoryList" [value]="item" >{{item}}</option>
              </select>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" type="submit">Update</button>
        </div>
      </form>
    </div>
  </div>